<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONTACT US</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="assets/js/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

	<!-- Bootstrap CSS -->
  <!-- <link href="assets/fonts/css/fontawesome.min.css" rel="stylesheet"/> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/indek3_styles.css">


</head>
<body>



    <!-- Header -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
      <div class="container">
        <a class="navbar-brand" href="file:///E:/Kelompok15_FP/Home.html"><img src="assets/img/LOGO.png" width="85" height="80" class="d-inline-block align-top" alt=""></a>

        <button class="navbar-toggler justify-content-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Model.html">MODEL</a>
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Brand.html">BRAND</a>
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Portofolio.html">OWNERSHIP</a>
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Experiance.html">EXPERIANCE</a>
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Motorsport.html">MOTORSPORT</a>
            <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Store.html">STORE</a>
          </div>
        </div>

          <div class="navbar-row">
            <!-- Icon Search -->
            <div class="wrapper">
                <input type="text" class="input" placeholder="  Search Here.."></input>
                <div class="searchbtn"><i class="fas fa-search"></i></div>
            </div>

            <!-- Icon Share -->
            <ul class="el">
              <li><a href="https://www.facebook.com/login"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/login?lang=id"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="http://www.amikom.ac.id/"><i class="fab fa-google" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/uas/login?_l=id"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>

            <!-- Icon Language -->
            <div class="dropdown" data-toggle="dropdown">
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Indonesia</a>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Korea</a>
              </div>
            </div>

            <!-- Icon Pengaturan -->
           <ul class="al">
              <li><a class="ic" href="#"><i class="fas fa-font"></i></a></li>
              <li><a class="ic" href="#"><i class="fas fa-text-height"></i></a></li>
              <li><a class="ic" href="#"><i class="fas fa-italic"></i></a></li>
              <li><a class="ic" href="#"><i class="fas fa-bold"></i></a></li>
              <li><a class="ic" href="#"><i class="fas fa-adjust"></i></a></li>
            </ul>
          </div>
          
      </div>
    </nav>
    <!-- akhir Header -->


<!-- SLIDER -->

<div id="demo" class="carousel slide" data-ride="carousel">
  
 <!-- The slideshow -->
 <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="assets/img/ferr1.jpg" alt="Los Angeles" >
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p style="text-align: center;">We had such a great time in LA!</p>
      </div>   
    </div>


    <div class="carousel-item">
      <img src="assets/img/ferr2.jpg" alt="Chicago" >
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p style="text-align: center;">Thank you, Chicago!</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="assets/img/ferr4.jpg" alt="New York" >
      <div class="carousel-caption">
        <h3>New York</h3>
        <p style="text-align: center;">We love the Big Apple!</p>
      </div>   
    </div>

    <div class="carousel-item">
      <img src="assets/img/ferr5.jpg" alt="New York" >
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

   <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

</div>

<!-- SLIDER -->

<!-- Bagan_3 -->
		<div class="putih">

<div class="row">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
      	<p class="card-text">Where I Can Get Ferrari ?</p>
      	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Read More </a>
      	<div class="collapse" id="collapseExample">
		  <div class="card card-body">
		    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		  </div>
		</div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">I Would Like to Download Picture and Video Ferrari ?</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Are There Any Jobs Available in Ferrari ?</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">I'am Loooking an Official Ferrari Dealer ?</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">I Would Like to Buy Spare Parts ?</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">How Do I Send My CV to Ferrari ?</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>

</div>

</div>

	<!-- Bagan_4 -->
		<div class="pink">

				<div class="box2">
					<h2>CONTACT FORM</h2>
					<div class="tulis2">Please write to us by filling the contact form </div>

					<a class="button3">CONTACT FORM</a>
				</div>

				<div class="box3">
					<div class="tulis">if you are Ferrari owner and you need to update your personal information you can fill the "update your personal data" form</div>

					<a class="button3">DATA UPDATE</a> 
				</div>
		</div>
<!-- Bagan_4 -->

<!-- Contact -->
<section id="contact" class="contact">
    <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="card" style="width: 15rem; margin-top: 10px;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h1>Location</h1></li>
                  <li class="list-group-item">My Office</li>
                  <li class="list-group-item">Jl.Ringin Raya N0. 12, Sleman</li>
                  <li class="list-group-item">Yogyakarta, Indonesia</li>
                </ul>
              </div>
          </div>

          <div class="col-lg-6">
            <div ng-app="myApp">
              <h1>Kritik & Saran: <input type="checkbox" ng-model="myCheck"></h1>
                <div class="slide" ng-show="myCheck">
                    <label >Nama Depan : <input type="text" ng-model="namaDepan" class="dep"></label>
                    <br>
                    <label >Nama Belakang : <input type="text" ng-model="namaBelakang" class="bel"></label><br>
                    <label class="email">Email : <input type="text" ng-model="email" class="em"></label><br>
                    <label for="comment">Comment:</label><br>
                      <textarea class="form-control" rows="3" cols="1" id="comment" name="text"></textarea>

                    <div class="Z"><pre ng-bind-template=" Hai... {{namaDepan}} {{namaBelakang}} !"></pre></div><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              <script>var app = angular.module('myApp', ['ngAnimate']);</script>
            </div>  
          </div>

    </div>
  <br>
</section>
    <!-- akhir contact -->



      <!-- about -->
      <section class="SUKU" id="SUKU">
        <div class="container">

          <div class="row ">
            <div class="col-sm-12 pt-4 pb-5 text-center">
              <div class="A">
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Brand.html">COMPANY</a>
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Portofolio.html">OWNERSHIP</a>
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Experiance.html">EXPERIANCE</a>
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Maps.html">LOCATION</a>
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Store.html">STORE</a>
                <a class="nav-item nav-link " href="file:///E:/Kelompok15_FP/Ownership.html">CONTACT US</a>
              </div>
            </div>

            <div class="col-sm">
              <h5> MODEL </h5>
              <hr>
              <p> People </p>
              <p> History </p>
              <p> Masterpieces </p>
              <p> Design </p>
              <p> Forged Compositos </p>
            </div>

            <div class="col-sm">
              <h5> BRAND </h5>
              <hr>
              <p> Financial Service </p>
              <p> Dealer Locator </p>
              <p> Service Locator </p>
              <p> Accesories Original </p>
              <p> Spare Parts </p>
            </div>

            <div class="col-sm">
              <h5> OWNERSHIPE </h5>
              <hr>
              <p> Financial Service </p>
              <p> Dealer Locator </p>
              <p> Service Locator </p>
              <p> Accesories Original </p>
              <p> Spare Parts </p>
            </div>

            <div class="col-sm">
              <h5> EXPERIANCE </h5>
              <hr>
              <p> New </p>
              <p> Event </p>
              <p> Accademia </p>
              <p> Museum </p>
              <p> Esperienza </p>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir about -->

      <!-- kaki -->
      <div id="kaki">
        <div class="container">
          <h5 class="text-center">OTOMBIL. © 2019</h5>
        </div>
      </div>
      <!-- akhir kaki -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jQuery-3.4.1.min.js"></script>

    <script defer src="assets/fonts/js/all.js"></script> <!--load all styles -->

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/script.js"></script>






</body>
</html>
